@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #EEEEEE;
    text-decoration: none;
}

.nav a:hover {
    background-color: crimson;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

@font-face {
    font-family: sickness;
    src: url(Sickness.ttf);
    font-weight: normal;
    font-style: normal;
}

.main-header {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("img/slipknot.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: sickness;
    color: crimson;
    padding-top: 10px;
    font-weight: normal;
}

.band-name-large {
    font-size: 9em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: sickness;
    font-weight: normal;
    color: crimson;
    text-align: center;
    font-size: 2.5em;
}

.about-band-img {
    float: left;
    height: 316px;
    width: 316px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #777;
    color: #EEEEEE;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 80px;
    height: 80px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: #EEEEEE;
    border: 2px solid crimson;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .1);
    color: crimson;
    border: 2px solid black;
    transition: ease .5s;
}

.btn-play {
    margin: 0 auto;
    display: block;
    color: crimson;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.btn-play:hover {
    color: #EEEEEE;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    padding-right: .5em;
    display: inline-block;
}

.tour-date {
    color: black;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
    padding-left: 10px;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    color: #EEEEEE;
    background-color: crimson;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    text-align: center;
    padding-right: 12px;
}

.btn-primary:hover {
    background-color: black;
    color: crimson;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: crimson;
    font-family: sickness;
    margin-bottom: 15px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: crimson;
    font-family: sickness;
    font-size: 1.5em;
    font-weight: bold;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item-img {
    width: 316px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: crimson;
    font-family: sickness;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom:  1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: crimson;
    margin-left: .5em;
    font-size: 1.2em;
    font-family: sickness;
}

.cart-item-img {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: #EEEEEE;
    background-color: crimson;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: black;
    color: crimson;
}

.cart-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid crimson;
    background-color: black;
    color: #EEEEEE;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 35px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: crimson;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 80px auto 80px auto;
    padding-right: 20px;
    font-size: 1.2em;
}